.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    width: 100%;
    max-width: 500px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  button {
    margin-top: 20px; 
  }
  